altgraph==0.17.4
cffi==1.17.1
cryptography==45.0.6
future==1.0.0
iso8601==2.1.0
macholib==1.16.3
modulegraph==0.19.6
packaging==25.0
py2app==0.28.8
pycparser==2.22
pycryptodome==3.23.0
pyinstaller==6.15.0
pyinstaller-hooks-contrib==2025.8
pyserial==3.5
PySide6==6.9.2
PySide6_Addons==6.9.2
PySide6_Essentials==6.9.2
PyYAML==6.0.2
setuptools==80.9.0
shiboken6==6.9.2
